$color-black: #3D3D3D;
$color-white: #FFF;
$color-beige:  #FBFBFB;
$color-green: #46A358;
$color-grey:  #727272;
$color-green-light: rgba(70, 163, 88, 0.5);
$color-green-light-2: rgba(70, 163, 88, 0.1);
$color-caribe: rgba(70, 163, 88, 0.05);
$color-rose: #F71152;
$color-rose-light: rgb(247, 17, 82, 0.5);
$color-yellow: #fff045;
$color-heart: #ff4f8f;